#background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url(../public/background.jpg);
  background-position: center;
  background-size: contain;
  backdrop-filter: grayscale(50%) brightness(50%);
  filter: contrast(150%);
  
  background-color: rgb(7, 7, 7);
  mix-blend-mode: darken;
  z-index: 0;
}

main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}