* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(-45deg, #e7a62d, #cc1c1c, #d63586, #36d6e2, #4ae236);
	background-size: 400% 400%;
	animation: gradient 14s ease infinite alternate-reverse;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}